/* Import Bootstrap styles */
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css";

/* Add custom styles below */

body {
  padding: 20px;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: darkcyan;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 20px;
}

a {
  color: darkcyan; /* Set link color */
  text-decoration: none; /* Remove underline from links */
}

a:hover {
  color: #004d65; /* Set link color on hover */
  text-decoration: underline; /* Add underline to links on hover */
}

/* Change primary button color */
.btn-primary {
  color: white; /* Set text color */
  background-color: darkcyan; /* Set background color */
  border-color: darkcyan; /* Set border color */
}

/* Change primary button hover appearance */
.btn-primary:hover {
  color: white; /* Set text color */
  background-color: #004d65; /* Set background color */
  border-color: #004d65; /* Set border color */
}


