{% extends "layout.html" %}

{% block body %}

<div class="container">
    <h1>{{ list_name }} for {{ supermarket.SupermarketName }}</h1>
    <!-- <p> -->
    <!--     <a href="{{ url_for('home') }}" class="btn btn-secondary">Back to home</a> -->
    <!-- </p> -->

    <!-- {% for item in items %} -->
    <!--   <div class="item" style="display: flex; justify-content: space-between; align-items: center; padding: 10px 0;"> -->
    <!--     <p style="margin: 0;">{{ item.ProductName }}</p> -->
    <!--   </div> -->
    <!--   <hr> -->
    <!-- {% endfor %} -->

    
    <button type="submit" class="btn btn-primary" onclick="redirectWithQuantumSort()">Use Quantum Sort</button>
    <button type="submit" class="btn btn-primary" onclick="removeQuantumSort()">Use AI Sort</button>
    <ul class="list-group" style="margin-top: 10px">
    {% for item in items %}
        <li class="list-group-item">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="item{{ loop.index }}" onclick="toggleCheck(this)">
            <label class="form-check-label" for="item{{ loop.index }}">{{ item.ProductName }}</label>
          </div>
        </li>
    {% endfor %}
    </ul>
</div>
<script>
      function toggleCheck(checkbox) {
        const listItem = checkbox.closest('.list-group-item');
        const label = listItem.querySelector('.form-check-label');
        if (checkbox.checked) {
          label.classList.add('checked-item');
        } else {
          label.classList.remove('checked-item');
        }
      }
    function redirectWithQuantumSort() {
        const currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set('quantumSort', 'true');
        window.location.href = currentUrl.toString();
    }
    function removeQuantumSort() {
        const currentUrl = new URL(window.location.href);
        currentUrl.searchParams.delete('quantumSort');
        window.location.href = currentUrl.toString();
      }
</script>
{% endblock %}


