{% extends "layout.html" %}

{% block body %}

<h1>Welcome to Smart Grocery</h1>
<div class="container">
  <h2>Your Shopping Lists:</h2>
  <table class="table">
    <tbody>
      {% for shopping_list in shopping_lists %}
        <tr>
          <td><a href="{{ url_for('view_list', list_id=shopping_list['ShoppingListId']) }}">{{ shopping_list['ShoppingListName'] }}</a></td>
          <td class="text-right">
            <a href="{{ url_for('delete_list', list_id=shopping_list['ShoppingListId']) }}" class="btn btn-danger" role="button">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <p>
    <a href="{{ url_for('new_list') }}" class="btn btn-primary">Create a new shopping list</a>
  </p>
</div>
{% endblock %}

